* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
 }

 body {
    background: #ddd;
 }
 
 .cv {
    width: 900px;
    margin: 40px auto;
    background: white;
    display: flex;
 }

 /* Chap tomon */ 
.left {
  width: 320px;
  background: #fff;
  padding: 20px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

/* PHOTO */
.photo-box {
  border: 4px solid #f5a623;
  padding: 6px;
  margin-bottom: 15px;
}

.photo-box img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
}

/* NAME */
.name {
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0 5px;
}

.job {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

/* CONTACTS */
.contacts .contact {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.icon {
  width: 36px;
  height: 36px;
  background: #f5a623;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 14px;
}

.text {
  background: #2b2b2b;
  color: #fff;
  padding: 8px 10px;
  flex: 1;
  font-size: 13px;
}

.address {
  font-size: 12px;
  margin: 12px 0;
  font-style: italic;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

/* SKILLS */

.skills-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 25px;
  position: relative;
}

.skills-title::after {
  content: "";
  width: 25px;
  height: 3px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: -8px;
}


.skill {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

}

.skill span {
  font-size: 13px;
}

.skill-name {

  width: 90px;
  font-size: 13px;
}

.bar {
 flex: 1;
 height: 6px;
 background: #333;
}

.fill {
  height: 100%;
  background: #f5a623;
}

 
 /* O'ng Tomon */

 .right {
   width: 65%;
   padding: 40px;
   background: #fff;
   font-family: Arial, sans-serif;
 }

 .right p {
   font-size: 13px;
   line-height: 1.6;
   color: #444;
   font-weight: normal;
 }

 

 /* Section */

 .section {
   margin-bottom: 35px;
 }

 .section-title {
   font-size: 18px;
   letter-spacing: 2px;
   margin-bottom: 15px;
   position: relative;
 }

 .section-title::after {
  content: "" ;
  display: block;
  width: 20px;
  height: 2px;
  background: orange;
  margin-top: 6px;
 }

 /* Profile Text */
 .profile-text {
   font-size: 14px;
   line-height: 1.7;
   color: #444;
 }

 /* Education */
 .two-col {
   display: flex;
   gap: 40px;
 }

 .edu-item {

   font-size: 14px;
 }

 .edu-item h4 {

   margin: 5px 0;
   font-size: 14px;
 }

 /* Experience */

 .experience {
  margin-top: 30px;
}


.exp-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 25px;
  position: relative;
}

.exp-title::after {
  content: "";
  width: 25px;
  height: 3px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: -8px;
}


.exp-item {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  align-items: flex-start;
  position: relative;
}


.exp-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 46px;
  height: 1px;
  background: #ccc;
}


.exp-year {
  width: 45px;
  position: relative;
  font-size: 14px;
  color: #777;
}

.exp-year span {
  display: block;
  line-height: 22px;
}


.exp-year::after {
  content: "";
  position: absolute;
  top: 22px;
  bottom: 22px;
  left: 50%;
  width: 1px;
  background: #999;
  transform: translateX(-50%);
}


.exp-content {
  text-align: left;
}

.exp-content h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.exp-content h5 {
  margin: 4px 0 18px;
  font-size: 14px;
  font-weight: 700;
}

.exp-content p {
  font-size: 14px;

  color: #666;
}
